.listagem{
    max-width: 200px;
}

.listagem .pokemon1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    background-color: #6b727a;
    color: #fff;
    cursor: pointer;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 7px 29px 0px;
    padding: 8px;
}

.listagem .pokemon1 img{
    width: 25%;
    border-radius: 50%;
}

.listagem .pokemon1:hover{
    transition: all 1.0s;
    cursor: pointer;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
   
}

.listagem .pokemon1.ativo{
    background-color: #FA6668;
}